<!--Formulário-->

<form >
    <input type="text" name="valorCurso" id="" placeholder="Curso" [(ngModel)]="curso.nomeCurso">
    <input type="number" name="valorCurso" id="" placeholder="Valor" [(ngModel)]="curso.valorCurso">
    <input type="text" name="areaCurso" id="" placeholder="Area" [(ngModel)]="curso.areaCurso">
    <input class="btn" type="button" value="Cadastrar"(click)="cadastrar()" *ngIf="id<0">
    <input class="btn" type="button" value="Editar" *ngIf="id>=0" (click)="atualizar()">
</form>

<!--Tabela para alterar e en=xcluir os cursos-->

<table class="tb-info">
    <tr>
        <td>Curso</td>
        <td>Valor</td>
        <td>Área </td>
        <td>Ações</td>
    </tr>

    <tr *ngFor="let curso of vetorCursos; let id=index" >
        <td>{{curso.nomeCurso}}</td>
        <td>{{curso.areaCurso}}</td>
        <td>{{curso.valorCurso}}</td>
        <td> <button (click)="editar(id)">Editar</button></td>
        <td><button (click)="excluir(id)">Excluir</button></td>

    </tr>

</table>